body {
    text-align: center;
    background-color: #e1e3e0;
    font-family: cursive;
    margin: 0;
    padding: 0;
}

#tribute {
    width: 30%;
    height: 30%;
    border-radius: 10px;
    margin-top: 20px;
}

#content {
    width: 80%;
    margin: 0 auto;
    text-align: left;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 30px;
    color: black;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

h2 {
    font-size: 25px;
    color: #0056b3;
    margin-top: 20px;
    margin-bottom: 10px;
    border-bottom: 2px solid #0056b3;
    padding-bottom: 5px;
}

p {
    font-size: 18px;
    color: #555555;
    line-height: 1.6;
    word-spacing: 2px;
    margin-bottom: 20px;
}

#tribute-link {
    color: #0056b3;
    text-decoration: none;
}

#tribute-link:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    h1 {
        font-size: 15px;
    }
    h2 {
        font-size: 15px;
    }
    p {
        font-size: 14px;
    }
    #content {
        text-align: start;
        width: 95%;
        padding: 10px;
    }
}
